@import "utils/vars";
@import "utils/libs";
@import "utils/fonts";
@import "utils/media";


html {
  font-size: $base-font-size;
  height: 100%;
  background-color: #070707;
}

body { 
  background-color: $main-bg-color;
  background: url('/static/images/general/main.jpg') center no-repeat;
  font-family: $main-font;
  color: $base-text-color; 
  overflow: hidden!important;
  margin: 0; 
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 60px 30px 0;
}

h1, h2, h3, h4, h5, h6 { margin: 0; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a { 
  text-decoration: none; 
  color: $base-text-color;
}

p { margin: 0; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

svg {
  max-width: 100%;
}

textarea { resize: none; }

section { 
  padding: 40px 0;
  position: relative; 
}

input,
select,
button { outline: none; }

button {
  appearance: none;
  cursor: pointer;
  border: none;
  padding: 0;
}
button:focus {
  outline: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

*, *:before, *:after { box-sizing: border-box; }

///////////////////////////////////////////
header, main, article, footer {display: flex;}

main {
  flex: 1 0 auto;
}

footer {
  flex: 50px 0 0;
}

.head-line {
   animation: line-run  0.9s 0.35s ease alternate;
   transition: width 1s cubic-bezier(0, 0, 1, 1) 500ms;
}

@keyframes line-run {   
  from {     
    width: 0%;   
  }   
  to {
    width: 100%;
   }
}