@import "utils/vars";
@import "utils/libs";
@import "utils/fonts";
@import "utils/media";


html {
  font-size: $base-font-size;
  height: 100%;
  // background-color: #070707;
}

.body--background-main {
  background: url('../images/general/main.jpg') center repeat;
}
.body--background-about-us {
  background: url('../images/general/about-us.jpg') center repeat;
}
.body--background-technics {
  background: url('../images/general/technics.jpg') center repeat;
}
.body--background-train-tickets {
  background: url('../images/general/train-tickets.jpg') center repeat;
}
.body--background-avia-transfer {
  background: url('../images/general/avia-transfer.jpg') center repeat;
}
.body--background-event {
  background: url('../images/general/event.jpg') center repeat;
}
.body--background-charity {
  background: url('../images/general/charity.jpg') center repeat;
}
.body--background-contacts {
  background: url('../images/general/main.jpg') center repeat;
}

.img-overlay {
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 20, 0.6);
    position: absolute;
    // transition: all 0.5s ease-in-out;
}

body { 
  background-color: $main-bg-color;
  background-size: cover!important;
  font-family: $main-font;
  color: $base-text-color;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 { margin: 0; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a { 
  text-decoration: none; 
  color: $base-text-color;
}

p { margin: 0; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

svg {
  max-width: 100%;
}

textarea { resize: none; }

section { 
  padding: 40px 0;
  position: relative; 
}

input,
select,
button { outline: none; }

button {
  appearance: none;
  cursor: pointer;
  border: none;
  padding: 0;
}
button:focus {
  outline: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

*, *:before, *:after { box-sizing: border-box; }

///////////////////////////////////////////
header, main, article, footer {display: flex;}

main {
  flex: 1 0 auto;
}

footer {
  flex: 50px 0 0;
}

// .head-line { opacity: 0; }

.nicescroll-rails div { 
  background: #fff !important; 
} 

.nicescroll-cursors {right: -15px;}

.line-animate:after {
   animation: 2.2s ease-in-out both line-run;
   transition: width 3s cubic-bezier(0, 0, 1, 1) 500ms;
   animation-iteration-count: 1;
   animation-delay: .1s;
}

.line-animate:before {
   animation: 2.2s ease-in-out both line-run;
   transition: width 3s cubic-bezier(0, 0, 1, 1) 500ms;
   animation-iteration-count: 1;
   animation-delay: .1s;
}

.side-list:after  {
   animation: 2.2s ease-in-out both line-run-vertical;
   transition: height 3s cubic-bezier(0, 0, 1, 1) 500ms;
   animation-iteration-count: 1;
   animation-delay: .1s;
}

.head-text-animate {
   animation: 1s ease-in-out both line-text-opacity;
   transition: opacity 1s cubic-bezier(0, 0, 1, 1) 500ms;
   animation-iteration-count: 1;
}

@keyframes line-run-vertical {   
  from {     
    height: 0%;   
  }   
  to {
    height: 100%;
   }
}

@keyframes line-run {   
  from {     
    width: 0%;   
  }   
  to {
    width: 100%;
   }
}

@keyframes line-text-opacity {   
   0% {
    opacity: 0;
    transform: scale(0);
  }
  
  100% {
    opacity: 1;
    transform: scale(1);
  }
}