header.main-header
	.main-nav__modal
	button(aria-label="Toggle menu").cd-nav-trigger
					span
	div.logo-wrapper
		a(href="#").logo
			img(src="static/images/general/Logo.png" alt="Logo NAVA Group")
	nav.main-nav
		ul.nav-list
			li.nav-list__item.toggle-active
				a(href="index.html#main") Главная
			li.nav-list__item
				a(href="about-us.html#about-us") О нас
			li.nav-list__item
				a(href="technics.html#technics") Техника
			li.nav-list__item
				a(href="train-tickets.html#train-tickets") ЖД Перевозки
			li.nav-list__item
				a(href="avia-transfer.html#avia-transfer") Авиа Перевозки
			li.nav-list__item
				a(href="event.html#event") Event
			li.nav-list__item
				a(href="charity.html#charity") Благотворительность
			li.nav-list__item
				a(href="contacts.html#contacts") Контакты
	.language-toggle
		span.language-toggle__russian.toggle-active рус
		span.language-toggle__english eng