.head-article, .main-company-name, .offer-article {display: flex;}

.cd-main-content { 
  // margin-top: 85px;
  // margin-bottom: 40px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.right--scroll-direction > * {
  direction: ltr;
  line-height: 1.5em;
}

.main-article {
  display: flex;
  flex: 1 0 100%;
  font-family: $main-font;
  font-size: 1.25em;
  flex-direction: column;
  justify-content: center;
  max-width: 1080px;
  padding-bottom: 25px;
}

.main-title__line:before,
.main-title__line:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 26px;
  background: #fff;
}

.head-article:after {
  margin-left: -175px;
}

.main-title__line:before {display: none;}

.main-title__line--second:after {bottom: 7px;}

.head-article {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  line-height: 1.75;
}

.head-article--second {
  margin: 75px 0 72px;
}

.head-article--service {
  flex: 0 0 115px;
}

.head-article--service-text, .head-article--service-date {
  display: flex;
}

.head-article--service-text {
  flex: 0 0 580px;
  max-width: 100%;
  line-height: 1.5em;
}

.head-article--full-text { flex: 1; }

.head-article--service-date {
  flex: 0 0 110px;
}

.head-article--strong { 
  font-weight: 700;
  font-family: $bold-font;
}

.head-article--regular {
  display: flex;
  flex: 1 0 100%;
}

.main-title {
  font-family: $head-font;
  font-size: 7.143em;
  margin-top: 25px;
  margin-left: -5px;
  position: relative;
}

.main-title--second {
  left: 190px;
  font-family: $bold-font;
  font-size: 1.75em;
}

.offer-article, .text-article {
  font-size: 1.286em;
  padding: 0;
  line-height: 1.5em;
}

.more-article, .send-message {
  border-radius: 6px;
  border: none;
  background: $button-back-color;
  color: $button-text-color;
  display: flex;
  font-size: 1.143em;
  justify-content: center;
  line-height: 24px;
  margin-top: 55px;
  padding: 8.5px 0px;
  width: 10.65em;
}

.send-message { margin-right: auto; }

.head-article--text-event { margin-right: 4.5px; }