.side-nav {
  display: flex;
  flex: 1 0 100%;
  position: absolute;
}

.side-list {
  display: flex;
  flex-direction: column;
}

.side-list__label {
  display: flex;
  margin-bottom: 22px;
}

.side-list-link {
  cursor: pointer;
  background: #fff;
  border-radius: 50%;
  padding: 2px;
  width: 14px;
  height: 14px;
}

.side-list__label--active {
  background: transparent;
  border: 1.25px solid #fff;
}

.side-list:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 2px;
  height: 100%;
  position: absolute;
  bottom: -145%;
  right: 6px;
  background: #fff;
}