nav.side-nav
	ul.side-list
		li.side-list__label
			a.side-list-link(href="index.html" name="main")
		li.side-list__label
			a.side-list-link(href="about-us.html" name="about-us")
		li.side-list__label
			a.side-list-link(href="technics.html" name="technics")
		li.side-list__label
			a.side-list-link(href="train-tickets.html" name="train-tickets")
		li.side-list__label
			a.side-list-link(href="avia-transfer.html" name="avia-transfer")
		li.side-list__label
			a.side-list-link.side-list__label--active(href="event.html" name="event")
		li.side-list__label
			a.side-list-link(href="charity.html" name="charity")
		li.side-list__label
			a.side-list-link(href="contacts.html" name="contacts")