nav.side-nav
	ul.side-list
		li.side-list__label
			a(name="main")
		li.side-list__label
			a(name="about-us")
		li.side-list__label
			a(name="technics")
		li.side-list__label
			a(name="train-tickets")
		li.side-list__label
			a(name="avia-transfer")
		li.side-list__label
			a(name="event")
		li.side-list__label
			a(name="charity")
		li.side-list__label
			a(name="contacts")