extends template/avia-transfer-tmpl

block variables
	- var title = 'Авиа Перевозки'

block content
	article.article--about-us
		.main-article.main-article--sm
			h3.main-title.main-title--second.main-title__line.main-title__line--second.main-title__line--second-transpass-avia.line-animate.head-text-animate Авиа перевозки
			div(id="boxscroll").article--second-wrap.right--scroll-direction
				p.head-article.head-article--second
					span.head-article--service-text.head-article--full-text Мы первые - кто реализовал возможность возврата любого не использованного авиа билета.
				p.advantages-head.advantages-head--other-sections
					span.head-article--strong Авиа Перевозки 
					| – благодаря нашим решениям, у российских компаний появилась возможность выписывать авиа билеты вне системы GDS. Это технологичное решение всю информацию хранит на территории российской федерации, что ускоряет скорость обработки данных и безопасность ее хранения. 
				p.advantages-footer Так же мы первые, кто сделал все билеты авиа компаний обменными.

