extends template/charity-tmpl

block variables
	- var title = 'Благотворительность'

block content
	article.article--about-us
		.main-article.main-article--sm
			h3.main-title.main-title--second.main-title__line.main-title__line--second.main-title__line--second-charity.line-animate.head-text-animate Благотворительность
			div(id="boxscroll").article--second-wrap.right--scroll-direction
				p.head-article.head-article--second
					span.head-article--text Билеты которые не были использованы и поступили к нам на возврат, в зависимости от тематики мероприятия
					span.head-article--strong мы передаём в детские дома или дома престарелых