extends template/events-tmpl

block variables
	- var title = 'Event'

block content
	article.article--about-us
		.main-article.main-article--sm
			h3.main-title.main-title--second.main-title--second-technics.main-title__line.main-title__line--second.line-animate.head-text-animate Event
			div(id="boxscroll").article--second-wrap.right--scroll-direction
				p.head-article.head-article--second
					span.head-article--text.head-article--text-event Мы первые в России кто сделал
					span.head-article--strong билеты на мероприятия
					span.head-article--text возвратными, не зависимо это спортивные события, деловые или академического жанра