extends template/main

block variables
	- var title = 'NAVA'

block content
	.main-article
		h3.head-article Компания
		p.main-company-name NAVA
		p.offer-article Новое поколение цифровых сервисов, повышающих качество и скорость обслуживания клиентов
		button.more-article Подробнее
			a(href="#0").more-article__link