extends template/technics-tmpl

block variables
	- var title = 'Техника'

block content
	article.article--about-us
		.main-article.main-article--sm
			h3.main-title.main-title--second.main-title--second-technics.main-title__line.main-title__line--second.main-title__line--second-technics.line-animate.head-text-animate Техника
			div(id="boxscroll").article--second-wrap.right--scroll-direction
				p.head-article.head-article--second
					span.head-article--service-text.head-article--full-text Мы первые в России - кто предложил мгновенную замену техники на новую при ее повреждении.
				p.advantages-head.advantages-head--other-sections
					span.head-article--strong Техника 
					| – одно из направлений нашей деятельности, работа в сегменте телекома и электроники.
				p.advantages-footer Мы первые в России, кто реализовал возможность решения любых проблем как со спец. оборудованием провайдеров связи, так и с крупной или мелкой бытовой техникой в офисе или дома, причем в кратчайшие сроки.
