extends template/train-tickets-tmpl

block variables
	- var title = 'Железнодорожные перевозки'

block content
	article.article--about-us
		.main-article.main-article--sm
			h3.main-title.main-title--second.main-title__line.main-title__line--second.main-title__line--second-transpass.line-animate.head-text-animate Железнодорожные перевозки
			div(id="boxscroll").article--second-wrap.right--scroll-direction
				p.head-article.head-article--second
					span.head-article--service-text.head-article--full-text Мы первые в России - кто реализовал возможность возврата любого не использованного железнодорожного билета
				p.advantages-head.advantages-head--other-sections
					span.head-article--strong Железнодорожные перевозки 
					| – благодаря нашим услугам, качество и скорость обслуживания пассажиров действительно вышли на новый уровень. Теперь любые вопросы, которые касаются перемены планов решаются в течении нескольких секунд.
