// Colors
$main-bg-color: #000000;
$base-text-color: #ffffff;

$font-active-weight: #e12421;

$dots-nav-color: #000000;
$dots-active-color: #ffffff;


// Sizes
$base-font-size: 14px;

// Fonts
$main-font: 'Montserrat-Regular', Arial, sans-serif;
$bold-font: 'Montserrat-Black', Arial, sans-serif;
$head-font: 'NFSCarbon', Helvetica, sans-serif;